{% extends "base.html" %}

{% block body_content %}
    <h1>Job Analysis Parameters</h1>
    <form action="/analysis_parameters_submit" method="get">
	<p>Site:</p>
	<div>
		<input type="radio" id="meyrin" name="site" value="meyrin" checked="true"/>
		<label for="meyrin">Meyrin</label><br>
		<input type="radio" id="prevessin" name="site" value="prevessin"/>
		<label for="prevessin">Prevessin</label>
	</div>
        <label for="start_date">Start date:</label>
        <input type="date" id="start_date" name="start_date"/>
        <label for="start_time">Start time:</label>
        <input type="time" step="0.001" id="start_time" name="start_time"/><br>
        <label for="end_date">End date:</label>
        <input type="date" id="end_date" name="end_date"/>
        <label for="end_time">End time:</label>
        <input type="time" step="0.001" id="end_time" name="end_time"/><br>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}
